html{
background-image:url("")
}
.container{
    display: flex ;
    background-color: white;
}
.container div{
    display flex: 1 ;
    background-color: whitesmoke;
}
.center{
    justify-content: center;
    align-items: center;
}
nav a{
  flex:2;
  color:black;
  text-decoration: none;
  text-align:center;
  background-color:lightskyblue;
}
a{
    text-decoration: none;
}
a:hover{
    background-color: pink;
}
nav{
    background-color: white;
   
}
#banner{
    background-color: rgb(192, 219, 255);
